{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<div>
    <p>{{ post.author.username }} <b>{{ post.content }} {{post.posted_at}}</b></p>
    <div class="ajax_field">
        <div class="like">좋아요 <span class="like_count">{{count}}</span> 개</div>
    </div>
    <div class="btn_container">
        <div class="like-btn" data-name="like"><span class="icon icon--like-line"></span>좋아요</div>
    </div>
    {% if post.author.username == current_user.username %}

    <a href="{{ url_for('delete', id=post.id) }}">삭제</a>
    <a href="{{ url_for('edit', id=post.id) }}">수정</a>
    {% include "like_ajax.html" %}
    {% endif %}
    <hr>
</div>
{% endfor %}
{% endblock %}