{%extends "base.html" %}

{% block content%}

<main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <!-- 상단 -->
                <div class="col-md-12 col-lg-5 mb-3 mb-lg-0" data-aos="fade-up">
                    <h2>안녕하세요, {{current_user.username}} 님!😀</h2>
                </div>
                <!-- // 상단 -->

                <!-- 글쓰기 -->
                <div class="col-md-12 col-lg-7 text-right text-lg-right" data-aos="fade-up" data-aos-delay="100">
                    <div class="filters">
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}">로그아웃</a>
                        <a href="{{ url_for('mypage') }}">마이페이지</a>
                        <a href="{{ url_for('add') }}" class="active">글쓰기</a>
                        {% endif %}
                    </div>
                </div>
                <!-- //글쓰기 -->
            </div>

            <div class="post-box row">
                <!-- 랭킹 -->
                <div class="col-md-4">
                    <h4 class="inline mb-2 post-title">내 정보</h4>
                    <div class="card profile mb-4">
                        <h4 class="h4 mb-4">이름 | 위보람</h4>
                        <h4 class="h4 mb-4">이메일 | hambo@t-school.kr</h4>
                        <h4 class="h4 mb-4">level | 1 (씨앗)</h4>
                        <h4 class="h4 mb-4">point | 30점</h4>
                        <div class="progress custom-progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4 class="inline mb-2 post-title">칭찬 랭킹</h4>
                    <div class="card profile">
                        <div class="col">
                            <h4 class="h4 mb-4">1등 | </h4>
                            <h4 class="h4 mb-4">2등 | </h4>
                            <h4 class="h4 mb-4">3등 | </h4>
                            <h4 class="h4 mb-4">4등 | </h4>
                        </div>
                        <div class="progress custom-progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <!-- //랭킹 -->
                {% for post in posts.items %}
                <div class="rgyPostIt col-sm-6 col-md-4 col-lg-3 mb-2">
                    <a href="">
                        <p>To. {{ post.receiver }}</p>
                        <p>{{ post.content }}}</p>
                        <p>From. {{ post.author.username }}</p>
                        <p style="text-align: right;">{{ post.posted_at }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End  Works Section -->

</main>

{% endblock %}